*.backup
*.bak
*.ez
*.iml
*.lcov
*.log
*.old
*.orig
*.swo
*.swp
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.elixir_ls/
.idea/
.mise.local.toml
.mix_tasks
.tool-versions.local
.vscode/
.yardoc
/.fetch
/_build/
/bench/results/
/cover/
/notebooks/.livebook/
/coverage/
/deps/
/doc/
/docs/_build/
/hex.config
/priv/plts/*.plt
/priv/plts/*.plt.hash
/test/reports/
/tmp/
Thumbs.db
erl_crash.dump
exk_passwd-*.tar
logs/